/* 
    Created on : 5/04/2022, 11:57:14
    Author     : Angel Sanabria
*/

.AnchorPane{
    -fx-background-color: #003DAF;
}

.MenuBar{
    -fx-background-radius: 15 15 15 15;
    -fx-background-color:
        #e7e7e7,
    linear-gradient(#f2f2f2 6%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
}
.MenuBar:hover{
    -fx-background-color:
        #FF370F,
        linear-gradient(#fafdfe, #E8F5FC),
        linear-gradient(#eaf5fd 8%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
}
#Pane{
    -fx-background-color: #003DAF;
}
